<section
  class="max-w-7xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800 mt-6 text-white"
>

  <div
    class="flex flex-col justify-center content-center justify-items-center items-center"
  >
    {{#if this.word}}
      <h4>{{capitalize this.word}}</h4>
      <audio controls src="{{this.audio}}"></audio>
    {{else}}
      <h4 class="wordToQuery">{{capitalize this}}</h4>
      <audio id="audio-{{this}}" controls src=""></audio>
    {{/if}}

  </div>
  {{#if this.word}}{{else}}
  {{/if}}

</section>