<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {{! <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.4.5/dist/flowbite.min.css"
    /> }}
    {{! <link rel="stylesheet" href="/stylesheets/tailwinds.css" /> }}
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/stylesheets/splide.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in
      localStorage) &&
      window.matchMedia('(prefers-color-scheme:dark)').matches)) {
      document.documentElement.classList.add('dark'); } else {
      document.documentElement.classList.remove('dark') }
    </script>
    <script>
      tailwind.config = { darkMode: "class", content: ["./src/**/*.{html,js}"],
      theme: { extend: { colors: { clifford: '#da373d', } } } }
    </script>
  </head>
  <body class="bg-white dark:bg-neutral-900">
 
    {{#unless noHeader}}
      <!-- Require css -->
      <style>
        .scroll-hidden::-webkit-scrollbar { height: 0px; background:
        transparent; /* make scrollbar transparent */ }
      </style>

      <nav class="bg-gray-800 shadow dark:bg-gray-800 text-white">
        <div class="container px-6 py-3 mx-auto">
          <div
            class="flex flex-col md:flex-row md:justify-between md:items-center"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <a
                  class="w-1/12 text-2xl font-bold text-white transition-colors duration-200 transform dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300"
                  href="/"
                ><img src="/images/logo.png" alt="" srcset="" /></a>
                  <a
                  class=" text-2xl font-bold text-white transition-colors duration-200 transform dark:text-white lg:text-3xl hover:text-slate-400 dark:hover:text-slate-400"
                  href="/"
                ><h1 class="ml-5 text-xl">Word Gym</h1></a>
                <!-- Search input on desktop screen -->
                {{! <div class="hidden mx-10 md:block">
                  <div class="relative">
                    <span
                      class="absolute inset-y-0 left-0 flex items-center pl-3"
                    >
                      <svg
                        class="w-5 h-5 text-gray-400"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </span>

                    <input
                      type="text"
                      class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300"
                      placeholder="Search"
                    />
                  </div>
                </div> }}
              </div>

              <!-- Mobile menu button -->
              <div class="flex md:hidden">
                <button
                  type="button"
                  class="text-white dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
                  aria-label="toggle menu"
                >
                  <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                    <path
                      fill-rule="evenodd"
                      d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>

            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div class="items-center md:flex">
              <div class="flex flex-col mt-2 md:flex-row md:mt-0 md:mx-1">
                <a
                  class="my-1 text-sm leading-5 text-white transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:mx-4 md:my-0"
                  href="/"
                >Home</a>
                <a
                  class="my-1 text-sm leading-5 text-white transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:mx-4 md:my-0"
                  href="/word/"
                >Words</a>
                <a
                  class="my-1 text-sm leading-5 text-white transition-colors duration-200 transform dark:text-gray-200 hover:text-blue-600 dark:hover:text-blue-400 hover:underline md:mx-4 md:my-0"
                  href="/collection/"
                >Collections</a>                
              </div>

              <div class="flex items-center py-2 -mx-1 md:mx-0">
                {{#if user}}
                  {{!-- <a
                    class="block w-1/2 px-3 py-2 mx-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 md:mx-0 md:w-auto"
                    href="/auth/logout"
                  >Logout</a> --}}
                {{else}}
                  <a
                    class="block w-1/2 px-3 py-2 mx-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform bg-gray-500 rounded-md hover:bg-blue-600 md:mx-2 md:w-auto"
                    href="/auth/login"
                  >Login</a>
                  <a
                    class="block w-1/2 px-3 py-2 mx-1 text-sm font-medium leading-5 text-center text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-600 md:mx-0 md:w-auto"
                    href="/auth/signup"
                  >Register</a>
                {{/if}}
              </div>
              <div class="flex items-center py-2 -mx-1 md:mx-0 pl-5">
                <button
                  id="theme-toggle"
                  type="button"
                  class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
                >
                  <svg
                    id="theme-toggle-dark-icon"
                    class="hidden w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  ><path
                      d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
                    ></path></svg>
                  <svg
                    id="theme-toggle-light-icon"
                    class="hidden w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  ><path
                      d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                    ></path></svg>
                </button>
              </div>
        {{#if user}}
        <div class="relative inline-block ml-5 ">
            <!-- Dropdown toggle button -->
            <button id="dropdownBtn" class="bg-gray-800 relative z-10 flex items-center p-2 text-sm text-white bg-white border border-transparent rounded-md focus:border-blue-500 focus:ring-opacity-40 dark:focus:ring-opacity-40 focus:ring-blue-300 dark:focus:ring-blue-400 focus:ring dark:text-white dark:bg-gray-800 focus:outline-none">
                <span class="mx-1">{{#if user.name}}{{#if user.name}}{{user.name}}{{else}}{{/if}} {{#if user.lastName}}{{user.lastName}}{{else}}{{/if}}{{else}}{{#if user.email}}{{user.email}}{{/if}}{{/if}}</span>
                <svg class="w-5 h-5 mx-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 15.713L18.01 9.70299L16.597 8.28799L12 12.888L7.40399 8.28799L5.98999 9.70199L12 15.713Z" fill="currentColor"></path>
                </svg>
            </button>

            <!-- Dropdown menu -->
            <div class="absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden bg-white rounded-md shadow-xl dark:bg-gray-800" id="dropdownMenu" style="display:none">
                <a href="#" class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                    <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9" src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/default-avatar.png{{/if}}" alt="avatar">
                    <div class="mx-1">
                        <h1 class="text-sm font-semibold text-gray-700 dark:text-gray-200">{{#if user.name}}{{#if user.name}}{{user.name}}{{else}}{{/if}} {{#if user.lastName}}{{user.lastName}}{{else}}{{/if}}{{else}}{{#if user.email}}{{user.email}}{{/if}}{{/if}}</h1>
                        <p class="text-sm text-gray-500 dark:text-gray-400">{{#if user.email}}{{user.email}}{{/if}}</p>
                    </div>
                </a>

                <hr class="border-gray-200 dark:border-gray-700 ">
                
                <a href="/auth/profile" class="flex items-center p-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-5 h-5 mx-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8C17 10.7614 14.7614 13 12 13C9.23858 13 7 10.7614 7 8ZM12 11C13.6569 11 15 9.65685 15 8C15 6.34315 13.6569 5 12 5C10.3431 5 9 6.34315 9 8C9 9.65685 10.3431 11 12 11Z" fill="currentColor"></path>
                        <path d="M6.34315 16.3431C4.84285 17.8434 4 19.8783 4 22H6C6 20.4087 6.63214 18.8826 7.75736 17.7574C8.88258 16.6321 10.4087 16 12 16C13.5913 16 15.1174 16.6321 16.2426 17.7574C17.3679 18.8826 18 20.4087 18 22H20C20 19.8783 19.1571 17.8434 17.6569 16.3431C16.1566 14.8429 14.1217 14 12 14C9.87827 14 7.84344 14.8429 6.34315 16.3431Z" fill="currentColor"></path>
                    </svg>
                    
                    <span class="mx-1">
                        view profile
                    </span>
                </a>                

                <a href="/collection/mycollection" class="flex items-center p-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"></path></svg>

                    <span class="mx-1">
                        My collections 
                    </span>
                </a>

                <hr class="border-gray-200 dark:border-gray-700 ">
                
             
                <a href="/auth/logout" class="flex items-center p-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                    <svg class="w-5 h-5 mx-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19 21H10C8.89543 21 8 20.1046 8 19V15H10V19H19V5H10V9H8V5C8 3.89543 8.89543 3 10 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046 20.1046 21 19 21ZM12 16V13H3V11H12V8L17 12L12 16Z" fill="currentColor"></path>
                    </svg>

                    <span class="mx-1">
                        Sign Out
                    </span>
                </a>
            </div>
        </div>
        {{/if}}
              <!-- Search input on mobile screen -->
              <div class="mt-3 md:hidden">
                <div class="relative">
                  <span
                    class="absolute inset-y-0 left-0 flex items-center pl-3"
                  >
                    <svg
                      class="w-5 h-5 text-gray-400"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path
                        d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></path>
                    </svg>
                  </span>

                  <input
                    type="text"
                    class="w-full py-2 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-opacity-40 focus:ring-blue-300"
                    placeholder="Search"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    {{/unless}}
    {{#if fullSize}}
    <div class="w-full">
      {{else}}
    <div class="container mx-auto">
      {{/if}}
      {{{body}}}
    </div>
    <script src="https://unpkg.com/flowbite@1.4.5/dist/flowbite.js"></script>
    <script src="/js/splide/splide.min.js"></script>
  {{#unless fullSize}}
    <script src="/js/script.js"></script>
    
    <script>
      function handleDropdown(){
        if (document.getElementById("dropdownMenu").style.display ==="none") {
          document.getElementById("dropdownMenu").style.display = "";
        }  else{
          document.getElementById("dropdownMenu").style.display = "none";
        } 
      }      
      const dropdownBtn = document.getElementById("dropdownBtn");
      dropdownBtn.addEventListener("click", handleDropdown);
    </script>
      {{/unless}}
    
  </body>

</html>