<li>{{wordSet.name}}</li>
<li>{{wordSet.image}}</li>
<br>


<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
            {{#each wordSet.words}}
                <li class="splide__slide">{{this}}
                    {{> word this}}
                    
<!--
                    <section
                    class="max-w-7xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800 mt-6 text-white"
                    >

                    <div
                        class="flex flex-col justify-center content-center justify-items-center items-center"
                    >
                        <h4>{{this.word}}</h4>
                        <audio controls src="{{word.audio}}"></audio>
                    </div>


                    <div class="wrapper">

                        <header>
                            <h1>Web dictaphone</h1>
                        </header>

                        <section class="main-controls">
                            <canvas class="visualizer" height="60px"></canvas>
                            <div id="buttons">
                            <button class="record">Record</button>
                            <button class="stop">Stop</button>
                            </div>
                        </section>

                        <section class="sound-clips">


                        </section>

                        </div>

                    

                    </section>
-->
                </li>
            {{/each}}
		</ul>
  </div>
</section>
<script src="/js/audioRecorder.js"></script>
<script src="/js/splide/splide.min.js"></script>
<script src="/js/queryWordInfo.js"></script>
<script>
    var splide = new Splide( '.splide' );
    splide.mount();
</script>