<form method="POST" action="/collection/{{wordSet._id}}">
<label for="name">Name:</label>
<br>
<input type="text" name="name" value="{{wordSet.name}}">
<br>
<label for="private">Private</label>
<input type="checkbox" name="private" value="private" {{private}}>
<br>
<label for="words">Words:</label>
<br>
<input type="text" name="words" value="{{wordsStr}}">
<br>
<button>Submit</button>
</form>

<form action="/collection/{{wordSet._id}}/uploadImage" method="POST" enctype="multipart/form-data">
  <label for="image">Image:</label>
  <input type="file" name="image">
  <button>Upload</button>
</form>

<img src="{{wordSet.image}}">